* {
  font-family: "Roboto Condensed", sans-serif;
}

td {
  font-size: 17px;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.loc {
  font-size: 15px;
  color: #808080;
}

.grey {
  color: #ffffff;
}

.blue {
  color: #5e7eb6;
}

.green {
  color: #7cbf8f;
}

.orange {
  color: #d9a46c;
}

.red {
  color: #c86a6a;
}
