* {
  font-family: "Roboto Condensed", sans-serif;
}

td {
  font-size: 17px;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.loc {
  font-size: 14px;
  color: #808080;
}

.grey {
  color: #b6daff;
}

.blue {
  color: #3b5bdb;
}

.green {
  color: #2f9e44;
}

.orange {
  color: #f08c00;
}

.red {
  color: #e03131;
}
